# Android / Gradle / Kotlin
*.iml
.gradle/
.idea/
build/
captures/
outputs/
*.keystore
*.jks
local.properties
.cxx/
.externalNativeBuild/

# Kotlin specific
*.class
*.jar
*.war
*.ear

# OS generated
.DS_Store
Thumbs.db
ehthumbs.db

# Logs
*.log

# Jetpack Compose preview cache
*.preview.db
*.preview.cache